<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.zt.dao.BlackListDao">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="blackListResultMap" type="cn.itcast.zt.model.BlackList">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result property="ip" column="ip" javaType="java.lang.String"/>
        <result property="iptime" column="iptime" javaType="java.util.Date"/>
    </resultMap>

    <!-- 插入黑名单 -->
    <insert id="addBlackList" >
        INSERT INTO blacklist(ip, iptime)
        VALUES (#{blackList.ip}, #{blackList.iptime})
    </insert>

    <!-- 从黑名单拉取数据 -->
    <select id="findByIP" resultMap="blackListResultMap">
        SELECT * FROM blacklist WHERE ip = #{ip}
    </select>
</mapper>